@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
    --primary-color: #5598fd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    min-width: 1000px;
    background: var(--primary-color);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../weather-icon/images/pc.jpg");
    background-size: cover;
    background-position: center;
    transition: background-image 0.3s ease;
}
img {
    /* width: 100%; */
}
.wrapper {
    display: flex;
    width: 100%;
    min-width: 550px;
    border-radius: 20px;
    overflow: hidden;
    height: 100%;
    transform: translateY(-100px);
    transform: translateY(-20px);
}
.sidebar {
    width: 30%;
    min-width: 250px;
    padding: 15px;
    background: rgba(255, 255, 255, 0.815);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.weather-icon {
    width: 100%;
    height: 150px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 100px;
}
.weather-icon #icon {
    width: 80%;
    object-fit: cover;
}
.temperature {
    display: flex;
}
.temperature #temp {
    font-size: 70px;
    font-weight: 100;
    line-height: 1;
}
.temperature span {
    font-size: 40px;
    margin-top: -10px;
    display: block;
}

.feels-like {
    display: flex;
}
.feels-like #feels-like{
    font-size: 25px;
    font-weight: 100;
    line-height: 1;
}
.feels-like span{
    font-size: 15px;
    margin-top: -5px;
    display: block;
}
.divider {
    width: 100%;
    height: 1px;
    background: #e9ecef;
    margin: 20px 0;
}
.condition-rain {
    font-size: 12px;
    text-transform: capitalize;
}
.condition-rain div {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
.condition-rain div i {
    width: 20px;
}
.location {
    display: flex;
    align-items: center;
    font-size: 14px;
    gap: 10px;
    margin-top: 10px;
}
.main {
    width: 100%;
    min-width: 400px;
    padding: 20px 40px;
    background-color: #f6f6f8;
    position: relative;
    padding-bottom: 90px;
}

.main nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main nav .options {
    display: flex;
    margin-top: 60px;
    gap: 20px;
    align-items: center;
}
.main nav .options button {
    border: none;
    background: none;
    font-size: 16px;
    font-weight: 600;
    color: #495057;
    cursor: pointer;
    text-transform: capitalize;
}
.main nav .options button.active {
    color: var(--primary-color);
}

.main nav .units button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #1a1a1a;
    background-color: #fff;
}
.main nav .units button.active {
    color: #fff;
    background-color: #1a1a1a;
}
.main .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 50px;
}

.cards .card {
    width: 100px;
    height: 130px;
    border-radius: 20px;
    color: #1a1a1a;
    background-color: #fff;
    text-align: center;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card h2 {
    font-size: 15px;
    font-weight: 600;
}
.card .card-icon {
    width: 50%;
    margin: 0 auto;
}
.card .day-temp {
    font-size: 12px;
    display: flex;
    justify-content: center;
    display: flex;
}
.highlights .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* You set the gap between the cards here */
    margin-top: 50px;
    justify-content: space-between; /* This will help to distribute space evenly */
}
.highlights .heading {
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
}

.card2 {
    width: calc(
        33.333% - 40px
    ); /* Subtract the total space taken by two gaps (20px each) */
    height: 150px;
    border-radius: 20px;
    color: #1a1a1a;
    background-color: #fff;
    padding: 10px 20px;
    box-sizing: border-box; /* This ensures padding is included in the width */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* This will help content to distribute evenly within the card */
}
.card2 .card-heading {
    color: #c2c2c2;
}

.card2 .content {
    margin-top: 20px;
}
.card2 .content p:first-child {
    text-align: center;
    font-size: 30px;
}
.card2 .content p:nth-child(2) {
    font-size: 12px;
    margin-top: 20px;
    text-align: left;
}
.credits {
    text-align: center;
    font-size: 12px;
    color: #c2c2c2;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

/* Mobile Styles */
@media (max-width: 400px) {
    /* Adjust to your breakpoint preference */
    .wrapper {
        flex-direction: column;
        width: 55%;
        min-width: 80%;

    }
    .sidebar,
    .main {
        width: 80%;
        min-width: 0;
        max-width: 45%;
        padding: 50px;
        border-radius: 20px;

    }
    .main .cards,
    .highlights .cards {
        justify-content: center;
        width: 100%;
    }
    .card,
    .card2 {
        width: calc(
            80% - 40px
        ); /* Full width minus padding for small screens */
        margin-bottom: 50px;
    }
  
    .weather-icon #icon,
    img {
        width: auto;
        max-width: 60%;
        height: auto;
    }
    .condition-rain div i,
    .location i {
        width: auto;
        max-width: 50%;
    }
    body {
        background-size: 100% auto;
        overflow-x: hidden;
    }
    /* Adjust font sizes and other properties as needed for smaller screens */
}

@media (max-width: 600px) {
    /* Adjust to your breakpoint preference */
    .wrapper {
        flex-direction: column;
        width: 100%;
        min-width: 100%;

    }
    .sidebar,
    .main {
        width: 100%;
        min-width: 0;
        max-width: 45%;
        padding: 50px;
        border-radius: 20px;

    }
    .main .cards,
    .highlights .cards {
        justify-content: center;
        width: 100%;
    }
    .card,
    .card2 {
        width: calc(
            80% - 40px
        ); /* Full width minus padding for small screens */
        margin-bottom: 50px;
    }
  
    .weather-icon #icon,
    img {
        width: auto;
        max-width: 60%;
        height: auto;
    }
    .condition-rain div i,
    .location i {
        width: auto;
        max-width: 50%;
    }
    body {
        background-size: 100% auto;
        overflow-x: hidden;
    }
    /* Adjust font sizes and other properties as needed for smaller screens */
}

@media (max-width: 932px) {
    /* Adjust to your breakpoint preference */
    .wrapper {
        flex-direction: column;
        width: 55%;
        min-width: 65%;

    }
    .sidebar,
    .main {
        width: 85%;
        min-width: 0;
        max-width: 45%;
        padding: 50px;
        border-radius: 20px;

    }
    .main .cards,
    .highlights .cards {
        justify-content: center;
        width: 60%;
    }
    .card,
    .card2 {
        width: calc(
            60% - 20px
        ); /* Full width minus padding for small screens */
        margin-bottom: 30px;
    }
  
    .weather-icon #icon,
    img {
        width: auto;
        max-width: 60%;
        height: auto;
    }
    .condition-rain div i,
    .location i {
        width: auto;
        max-width: 50%;
    }
    body {
        background-size: 100% auto;
        overflow-x: hidden;
    }
    /* Adjust font sizes and other properties as needed for smaller screens */
}
#detailModal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 100; /* Ensure modal is above other content */
}
.sunrise-icon {
    width: 20px;
    height: 20px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 800px;
  }
  
  /* Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
